*{
    margin: 0;
    padding: 0;
    font-family: "Urbanist";
    /* scrollbar-width: none; */

}
:root{
    --primary-color:#0D0D0D;
    --secondary-color:#FFFFFF;

    --marquee-width: 80vw;
    --marquee-height: 20vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}
html{
    scroll-behavior: smooth;
}
.dark-theme{
    --primary-color:#FFFFFF;
    --secondary-color:#0D0D0D;
}
body{
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
    overflow-x: hidden;
}
 .nav{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    position: fixed;
    height: 88px;
    width: 100%;
    z-index: 100;
 }
.nav-heading{
    font-size: 32px;
    font-weight: bold;
    position: relative;
    justify-self: flex-start;
    top: 20px;
    left: -35px;
    color: #FA531E;
}
.nav-menu,.nav-theme{
    position: relative;
    left: 10px;
}
.nav-menu{
    position: relative;
    top: 30px;
}
.nav-menu a{
    text-decoration: none;
    color: var(--secondary-color);
    padding-left: 30px;
    position: relative;
    left: 350px;
    font-weight: bold;
    /* top: -1px; */
}

.nav-menu a:after{
    content: '';
    width: 0;
    height: 3px;
    background: #FA531E;
    position: absolute;
    left: 15px;
    bottom: -10px;
    transition: 0.5s;
}

.nav-menu a:hover::after{
    width:100%;
  }

/* .nav-menu a:hover{
    color: #FA531E;
    transition: color .4s ease-in-out;
} */
.nav-theme{
    position: relative;
    top: 28px;
    z-index: 300;
}
.nav-theme img{
    width: 26px;
    height: 26px;
    position: relative;
    right: -60px;
    /* top: -4px; */
}
#theme{
    cursor: pointer;
}
#theme2{
    cursor: pointer;
    position: relative;
    top: -5px;
    visibility: hidden;
}
/*responsive menu*/
.menu{
    position: absolute;
    z-index: 999;
    right: 595px;
    top: -3px;
    display: none;
}
.fa-bars{
    color: var(--secondary-color);
    font-size: 22px;
}
.fa-bars:hover{
    color: #FA531E;
    cursor: pointer;
}
.togglemenu{
    display: none;
}
.display{
    display: block;
}
.menulist{
    width: 100px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 60px; */
    margin-left: 20px;

}
.menuitems{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    z-index: 200;
}
.menuitems a{
    padding-top: 5px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18px;
}
.menuitems a:hover{
    color: #FA531E;
}




/*menu end*/
.div1{
    position: relative;
    top: -67px;
    z-index: 50;
}
#img1{
    width: 796px;
    height: 538px;
    position: relative;
    left: 740px;
    top: 27.9px;
}
#img2{
    width: 476px;
    height: 515px;
    position: relative;
    top: 27.9px;
    left: 200px;
}
.div1txt{
    color: var(--secondary-color);
    width: 465px;
    height: 344px;
    position: relative;
    left: 135px;
    top: 120px;
    z-index: 3;
}
.div1txt h3{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 15px;
}

.div1txt h1{
    font-size: 72px;
    font-weight: bold;
    color: #FA531E;
    padding-bottom: 15px;
    line-height: 70px;
}
.div1txt p{
    font-size: 18px;
    line-height: 28px;
}
.div1img{
    position: relative;
    top: -205px;
    right: 16.7px;
    z-index: 1;
}
.div1btn{
    width: 180px;
    height: 51px;
    position: relative;
    top: 30px;
    background-color: #FA531E;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    border-radius: 10px;
    border-style: none;
    text-decoration: none;
    cursor: pointer;
}
.div1btn:hover{
    background-color: #d53a0b;
}
.div1btn img{
    width: 25px;
    height: 25px;
    position: relative;
    top: -15.5px;
    right: -60px;
    cursor: pointer;
}
.div1btn p{
     position: relative;
     left: -15px;
     top: 12px;
     cursor: pointer;
}

.divservices{                   /*services*/
    width: 100%;
    height: 396px;
    position: relative;
    top: -220px;
    display: block;
    justify-content: center;
    color: var(--secondary-color);
}
.divservices h3{
    width: 1170px;
    font-size: 48px;
    font-weight: bold;
    color: var(--secondary-color);
    position: relative;
    text-align: center;
    left: 180px;
    bottom: -80px;
    /* text-decoration: underline;
    text-decoration-color: #FA531E; */
    padding-bottom: 140px;
}

.divservices h3:after{
    content: '';
    width: 0;
    height: 3px;
    background: #FA531E;
    position: absolute;
    left: 470px;
    bottom: 135px;
    transition: 0.5s;
    width: 20%;
}

.divservices hr{
    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    position: relative;
}
.divservices .service1{
    width: 1290px;
    height: 173px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 163px;
    padding-right: 163px;
    display: flex;
    justify-content: center;
    position: relative;
    left: -30px;
}
.service1:hover{
    color: #FA531E;
    cursor: pointer;
}
.divservices .service2{
    width: 1290px;
    height: 173px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 163px;
    padding-right: 163px;
    display: flex;
    justify-content: center;
    position: relative;
    left: -30px;
}
.service2:hover{
    color: #FA531E;
    cursor: pointer;
}
.divservices .service3{
    width: 1290px;
    height: 173px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 163px;
    padding-right: 163px;
    display: flex;
    justify-content: center;
    position: relative;
    left: -30px;
}
.service3:hover{
    color: #FA531E;
    cursor: pointer;
}
#serviceimg{
    width: 48px;
    height: 48px;
    margin-right: 30px;
    position: relative;
    top: 55px;
}
.service3 #serviceimg{
    width: 56px;
    height: 56px;
    margin-right: 30px;
    position: relative;
    top: 55px;
}
#servicetxt{
    font-size: 81px;
    font-weight: bold;
    position: relative;
    top: 30px;
}
#export{
    width: 64px;
    height: 64px;
    margin-left: 30px;
    position: relative;
    top: 55px;
}


.div2{                            /*works*/
    width: 1170px;
    height: 496px;
    position: relative;
    display: block;
    justify-content: center;
    top: -40px;
}
.div2 h3{
    font-size: 48px;
    font-weight: bold;
    color: var(--secondary-color);
    position: relative;
    text-align: center;
    left: 180px;
    bottom: -80px;
    /* text-decoration: underline;
    text-decoration-color: #FA531E; */
}

.div2 h3:after{
    content: '';
    width: 0;
    height: 3px;
    background: #FA531E;
    position: absolute;
    left: 380px;
    bottom: 135px;
    transition: 0.5s;
    width: 35%;
}

.div2card1-2{
       width: 1056px ;
       height: 488px ;
       display: flex;
       position: relative;
       align-items: center;
       left: 210px;
}
.div2card1{
    width: 512px ;
    height: 340px;
    border-radius: 20px;
    border-width: 1px;
    padding: 15px;
    margin-right: 32px;
    border-style: solid;
    border-color: #FA531E;
}
.div2card1:hover{
    border-style: solid;
    border-color: var(--secondary-color);

}
.div2card1txt-img{
    width: 512px ;
    height: 64px ;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
}

.div2card1txt{
    width: 424px;
    height: 64px;
}

.div2card2{
    width: 512px ;
    height: 340px;
    border-radius: 20px;
    border-width: 1px;
    padding: 15px;
    border-style: solid;
    border-color: #FA531E;
}
.div2card2:hover{
    border-style: solid;
    border-color: var(--secondary-color);
}
.div2card2txt-img{
    width: 512px ;
    height: 64px ;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
}
.div2card2txt{
    width: 424px;
    height: 64px;
}


.div2card3{
    width: 1090px;
    height: 600px;
    border-width: 1px;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FA531E;
    position: relative;
    left: 210px;
}
.div2card3:hover{
    border-style: solid;
    border-color: var(--secondary-color);
}
.div2card3txt-img{
    color: var(--secondary-color);
    width: 1090px;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

#websitecard3{
    width: 1090px;
    height: 512px;
    border-radius: 20px;
    border-style: none;
    margin-bottom: 24px;
}
#webiste{
    width: 512px;
    height: 250px ;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 24px;
}
#visit{
    width: 80px;
    height: 56px;
    border-radius: 100px;
    border-style: none;
}
#wtitle{
    width: 424px;
    height: 29px;
    padding-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
}
#wdescription{
    width: 424px;
    height: 27px;
    font-size: 18px;
    font-weight: normal;
}
#visit:hover{
    cursor: pointer;
    background-color: #a43e1f3f;
}


.div3{                            /*contact*/
    width: 1170px;
    height: 596px;
    position: relative;
    display: block;
    justify-content: center;
    /* top: 100px; */
    transform: translateY(800px);
    top: -40px;
}
.div3 h3{
    font-size: 48px;
    font-weight: bold;
    color: var(--secondary-color);
    position: relative;
    text-align: center;
    left: 190px;
    bottom: -80px;
    /* text-decoration: underline;
    text-decoration-color: #FA531E; */
}

.div3 h3:after{
    content: '';
    width: 0;
    height: 3px;
    background: #FA531E;
    position: absolute;
    left: 470px;
    bottom: 135px;
    transition: 0.5s;
    width: 20%;
}


                                      /* contact form */
.contact-form {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    position: relative;
    left: 545px;
}

.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: solid ;
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border: 1px solid #FA531E;
}

.contact-form button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #FA531E;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 10px;
}

.contact-form button:hover {
    background-color: #d53a0b;
}

.contact-form button hr{
    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    position: relative;
}

.logos{                            /*logos*/
    width: 1170px;
    height: 256px;
    position: relative;
    display: block;
    justify-content: center;
    top: 10px;
    transform: translateY(50px);
}

.logos hr{
    width: 1870px;
    color: var(--secondary-color);
    text-align: center;
    position: relative;
}
.phone{
    display: flex;
    justify-content: center;
    position: relative;
    left: 190px;
}
.phone i{
    color: var(--secondary-color);
    font-size: 100px;
    margin: 40px;
}
.phone i:hover{
    color: #FA531E;
}
.logos p{
    color: var(--secondary-color);
    position: relative;
    left: 570px;
    top: 20px;
}
.logos a{
    text-decoration: none;
    color: #FA531E;
}

/*scroll text*/

.marquee {
    width: 1900px;
    height: var(--marquee-height);
    background-color: var(--primary-color);
    color:var(--secondary-color);
    overflow: hidden;
    position: relative;
    bottom: 160px;
    margin-top: -70px;
    /* left: 50px; */
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    /* background: linear-gradient(to right, #111 0%, transparent 100%); */
  }
  .marquee:after {
    right: 0;
    /* background: linear-gradient(to left, #111 0%, transparent 100%); */
  }
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
  }

  .marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 2px solid #eee;
  }


/*responsive*/



@media screen and (max-width: 600px) {

    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

/*icon*/
.rticon{
    display: block;
    position: relative;
    top: 10px;
    left: -1040px;
}
.nav2-theme{
    left: -780px;
    top: 37px;
}
/*navbar*/
.navmob{
    display: block;
}
.nav2{
    display: flex;
}
.nav2-menu{
    left: -590px;
    /* top: 80px; */
}
.nav{
    display: none;
}
.nav2-heading{
    left: 10px;
    top: 30px;
}
.menu{
    display: block;
    z-index: 900;
}

.nav-theme{
    position: relative;
    top: -5px;
    left: 260px;
}
#theme2{
    visibility: visible;
}
.nav-heading{
    left: 70px;
}
.div1{
    left: -125px;
}
#div1txtp{
    width: 400px;
    font-size: 16px;
    width: 370px;
}
.div1txt h3{
    font-size: 28px;
}
.div1txt h1{
    font-size: 64px;
}
.div1 a{
    position: relative;
    top: -20px;
}
#img1{
    width: 640px;
    height: 350px;
    left: 30px;
    top: 619px;
}
#img2{
    top: 100.60px;
    left: 110px;
}
.marquee{
    margin-top: 0;
}
.divservices h3{
    left: -390px;
}
.service1 img{
    left: -437px;
    width: 500px;
    height: 200px;
}
.service1 p{
    left: -465px;
    width: 500px;
    height: 200px;
}
.service2 img{
    left: -435px;
    width: 500px;
    height: 200px;
}
.service2 p{
     top: 25px !important;
     left: -463px;
    width: 500px;
    height: 200px;
}
.service3 img{
    left: -436px;
    width: 500px;
    height: 200px;
}
.service3 p{
    font-size: 42px !important;
    top: 55px !important;
    left: -465px;
    width: 500px;
    height: 200px;
}
#servicetxt{
    font-size: 50px;
    top: 49px;
}
#export{
    left: -715px;
}

                                   /*works*/
                .div2card1-2{
                        width: 335px ;
                        height: 348px ;
                        left: 13px;
                 }
                 .div2card1{
                     width: 335px ;
                     height: 348px;
                 }

                 .div2card1txt-img{
                     width: 335px ;
                     height: 64px ;
                 }

                 .div2card1txt{
                     width: 267px;
                     height: 64px;
                 }

                 .div2card2{
                    width: 335px ;
                    height: 348px;
                    margin-top: 800px;
                    margin-left: -400px;
                 }

                 .div2card2txt-img{
                    width: 335px ;
                    height: 64px ;
                 }
                 .div2card2txt{
                    width: 267px;
                    height: 64px;
                 }


                 .div2card3{
                    width: 335px ;
                    height: 348px;
                    margin-top: 440px;
                    margin-left: -198px;
                 }

                 .div2card3txt-img{
                    width: 335px ;
                    height: 64px ;
                 }

                 #websitecard3{
                     width: 335px;
                     height: 260px;
                 }
                 #webiste{
                    width: 335px;
                    height: 260px;
                 }
                 #visit{
                     width: 68px;
                     height: 48px;
                     border-radius: 100px;
                     border-style: none;
                 }
                 #wtitle{
                     width: 267px;
                     height: 29px;
                     padding-bottom: 8px;
                     font-size: 22px;
                 }
                 #wdescription{
                     width: 267px;
                     height: 27px;
                     font-size: 18px;
                 }


                          /*Contat*/
.div3{
    margin-top: 60px;
}
.contact-form{
    width: 300px;
    left: 15px;
}

 /*Logos*/


.phone i{
    font-size: 50px;
    position: relative;
    left: -578px;
    margin: 15px;
}

.logos p{
    position: relative;
    left: 43px;
}
.logos{
    height: 150px;
}




/*scroll*/
html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}